{% extends 'base.html' %}
<!--左边的菜单栏-->
{% block aside %}
    <li><a href="{% url 'customers' %}"><i class="fa fa-table"></i> <span>公共客户</span></a></li>
    <li><a href="{% url 'mycustomers' %}"><i class="fa fa-link"></i> <span>我的客户</span></a></li>
    <li  class="active"><a href="{% url 'followrecord' %}"><i class="fa fa-link"></i> <span>跟进记录</span></a></li>
    <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
        </ul>
    </li>
{% endblock %}


<!--右边内容标题-->
{% block title %}
    <h1>

        编辑跟进记录
        <small>Edit Followrecord</small>
    </h1>

{% endblock %}


<!--右边内容部分-->
{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-2">
                <form action="" method="post" novalidate class="form-horizontal">

                    {% for field in followrecord_obj %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}"
                                   class="col-sm-3 control-label">{{ field.label }}</label>
                            <div class="col-xs-9">
                                {{ field }}
                                <p class="text-danger"> {{ field.errors.0 }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    {% csrf_token %}
                    <br><input type="submit" class="btn btn-success pull-right">
                </form>
            </div>
        </div>
    </div>



{% endblock %}