{% extends 'base.html' %}



<!--右边内容标题-->
{% block title %}
    <h1>
        {% if flag %}
            添加学习记录
            <small>Edit Customers</small>
        {% else %}
            编辑学习记录
            <small>Add Customers</small>
        {% endif %}
    </h1>
{% endblock %}


<!--右边内容部分-->
{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-2">
                <form action="" method="post" novalidate class="form-horizontal">

                    {% for field in study_obj %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}"
                                   class="col-sm-3 control-label">{{ field.label }}</label>
                            <div class="col-xs-9">

                                {{ field }}

                                <p class="text-danger"> {{ field.errors.0 }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    {% csrf_token %}
                    <br><input type="submit" class="btn btn-success pull-right">
                </form>
            </div>
        </div>
    </div>



{% endblock %}

{% block js %}

    <script>
    //编辑时禁用学生选项
        if (! {{ flag }}){
            $('#id_student').attr('onmousedown','return false');
            $('#id_classstudyrecord').attr('onmousedown','return false');
        }
    </script>
{% endblock %}