{% extends 'base.html' %}
{% load static %}
{% load permission %}

<!--右边内容标题-->
{% block title %}
    <h1>
        {% if flag %}
            我的客户
            <small>Private Customers</small>
        {% else %}
            公共客户
            <small>Public Customers</small>
        {% endif %}


    </h1>

    <div class="row" style="margin-top: 15px;">

        <!--添加客户-->

        {% if flag %}
            {% if 'addmycustomer'|permission_noarg:request %}
                <a href="{% url 'addmycustomer' %}" class="btn btn-info btn-sm  col-xs-1 fa fa-user-plus "
                   style="margin-left: 30px;height:28px" title="添加客户">添加客户</a>
            {% endif %}
        {% else %}
            {% if 'addcustomer'|permission_noarg:request %}
                <a href="{% url 'addcustomer' %}" class="btn btn-info btn-sm  col-xs-1 fa fa-user-plus "
                   style="margin-left: 30px;height:28px" title="添加客户">添加客户</a>
            {% endif %}
        {% endif %}



        <!--批量操作:post请求当前路径-->
        {% if 'editcustomer'|permission_arg:request or 'editmycustomer'|permission_arg:request %}<!--判断当前用户是否有权限，自定义过滤器
            -->


            <div class="col-xs-6">
                <!--批量操作选项-->
                <select name="batch_operation" id="operation" style="height: 26px;">
                    <option value="">--操作--</option>
                    <option value="batch_delete">批量删除</option>
                    <option value="batch_update">批量修改</option>
                    {% if flag %}
                        <option value="batch_private_public">私户转公户</option>
                    {% else %}
                        <option value="batch_public_private">公户转私户</option>
                    {% endif %}


                </select>

                <!--批量更新字段选择-->
                <select name="" id="fields" style="height: 26px;" hidden="hidden">
                    {% for field in allfields %}
                        {% if field.name in batch_update_fields_list %}
                            <option value="{{ field.name }}">{{ field.label }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <!--更新值选择-->

                {% for field in allfields %}
                    {% if field.name in batch_update_fields_list %}
                        <div id="{{ field.name }}" hidden class="c1 "
                             style="width:180px;height: 26px;margin-bottom: 10px">{{ field }}</div>
                    {% endif %}
                {% endfor %}


                {% csrf_token %}
                <button class="btn btn-danger" style="height: 26px;line-height: 12px;vertical-align: 0.5px"
                        id="batch_operation">Go
                </button>

            </div>
        {% endif %}

        <!--查询字段-->
        <form action="" class=" col-xs-2 pull-right " method="get" style="padding-right: 0" novalidate>
            <select name="field" id="search" style="height: 25px;">
                <option value="">--字段--</option>
                {% for field in allfields %}
                    {% if field.name in search_fields_list %}
                        <option value="{{ field.name }}">{{ field.label }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="查询">


            {% for field in allfields %}
                {% if field.name in search_fields_list %}
                    <div class="c2 {{ field.name }}" id="{{ field.name }}" hidden
                         style="width: 126px;">{{ field }}</div>
                {% endif %}
            {% endfor %}


        </form>


    </div>

{% endblock %}


<!--右边内容部分-->
{% block content %}



    <table class="table table-hover table-bordered table-responsive tab-content text-center">
        <thead>
        <tr>
            <th>
                <button class="btn btn-xs btn-primary" id="all" title="全选"><i class="fa fa-check-square-o"></i></button>
                <button class="btn btn-xs btn-success" id="opp" title="反选"><i class="fa fa-check-square"></i></button>


            <th>序号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>客户来源</th>
            <th>QQ</th>
            <th>咨询课程</th>
            <th>状态</th>
            <th>已报班级</th>
            <th>销售</th>
            {% if 'morefollowrecord'|permission_arg:request %}
                <th>跟进</th>
            {% endif %}
            {% if 'editmycustomer'|permission_arg:request or 'editcustomer'|permission_arg:request or 'deletemycustomer'|permission_arg:request or 'deletecustomer'|permission_arg:request %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for customer_obj in customer_objs %}
            <tr>
                <td><input type="checkbox" name="select" value="{{ customer_obj.pk }}"></td>
                <td>{{ forloop.counter }}</td>
                <td>{{ customer_obj.name }}</td>
                <td>{{ customer_obj.get_sex_display }}</td>
                <td>{{ customer_obj.get_source_display }}</td>
                <td>{{ customer_obj.qq }}</td>

                <td style="width: 150px;">{{ customer_obj.course }}</td>
                <td>{{ customer_obj.get_status_display }}</td>
                <td style="width: 160px;">{{ customer_obj.get_classlist|default:'----' }}</td>
                <td>{{ customer_obj.consultant.username|default:'----' }}</td>
                {% if 'morefollowrecord'|permission_arg:request %}
                    <td><a href="{% url 'morefollowrecord' customer_obj.pk %}">详情</a></td>
                {% endif %}
                {% if 'editmycustomer'|permission_arg:request or 'editcustomer'|permission_arg:request or 'deletemycustomer'|permission_arg:request or 'deletecustomer'|permission_arg:request %}
                    <td>
                        {% if flag %}
                            {% if 'editmycustomer'|permission_arg:request %}
                                <a href="{% url 'editmycustomer' customer_obj.pk %}" class="btn btn-warning btn-xs"
                                   title="编辑"><i class="fa fa-edit"></i></a>
                            {% endif %}
                        {% else %}
                            {% if 'editcustomer'|permission_arg:request %}
                                <a href="{% url 'editcustomer' customer_obj.pk %}" class="btn btn-warning btn-xs"
                                   title="编辑"><i
                                        class="fa fa-edit"></i></a>
                            {% endif %}
                        {% endif %}

                        {% if flag %}
                            {% if 'deletemycustomer'|permission_arg:request %}
                                <a href="{% url 'deletemycustomer' customer_obj.pk %}" class="btn btn-danger btn-xs"
                                   title="删除"><i class="fa fa-trash-o fa-lg"></i></a>
                            {% endif %}
                        {% else %}
                            {% if 'deletecustomer'|permission_arg:request %}
                                <a href="{% url 'deletecustomer' customer_obj.pk %}" class="btn btn-danger btn-xs"
                                   title="删除"><i class="fa fa-trash-o fa-lg"> </i></a>
                            {% endif %}
                        {% endif %}


                    </td>
                {% endif %}

            </tr>
        {% endfor %}

        </tbody>
    </table>
    {{ page|safe }}


{% endblock %}

<!--js代码-->
{% block js %}
    <script src="{% static 'jquery-cookie-1.4.1.js' %}"></script>
    <script>
        //全选操作
        $('#all').click(function () {
            $('input[name=select]').prop('checked', true);
        });
        //反选操作
        $('#opp').click(function () {
            var unchecked = $('input[name=select]:not(:checked)');
            $('input[name=select]:checked').prop('checked', false);
            unchecked.prop('checked', true)
        });


        //选择批量操作的条件
        $('#operation').change(function () {
            {#alert($('#operation').val());#}

            if ($('#operation').val() === 'batch_update') {
                $("#fields").attr('hidden', false);
            } else {
                $("#fields").attr('hidden', 'hidden');
                $('.c1').attr('hidden', 'hidden');
            }
        });

        $('#fields').change(function () {
            var id = "#" + $('#fields').val();
            $('.c1').attr('hidden', 'hidden');
            $(id).attr('hidden', false);
        });


        //批量处理提交
        $("#batch_operation").click(function () {
            var operation = $("#operation").val();//获取批量操作类型
            //alert(operation);
            var selecteds = $('input[name=select]:checked');//获取已选中的数据
            //console.log(selecteds);
            //循环获取选中数据的value值添加到数组
            var checked_id_list = [];
            selecteds.each(function (index, obj) {//注意值和索引的顺序
                //console.log(obj);
                //console.log(val);
                {#checked_id_list.push(obj.value);#}
                checked_id_list.push($(obj).val());//注意each循环出来都是dom对象
            });
            console.log(checked_id_list);
            console.log($("#" + $('#fields').val()).children('select').val());
            //  批量操作提交确认
            if (operation && checked_id_list.length) {

                if (confirm('确定执行吗？')) {
                    $.ajax({
                        url: {% if flag %}'{% url "mycustomers" %}'{% else %}'{% url "customers" %}'{% endif %},
                        type:
                            'post',
                        headers:
                            {
                                'X-CSRFToken':
                                    $.cookie('csrftoken')
                            }
                        ,
                        data: {
                            operation: operation,
                            id_list:
                                JSON.stringify(checked_id_list),
                            filed:
                                $('#fields').val(),
                            val:
                                $("#" + $('#fields').val()).children('select').val(),
                            //id_list:checked_id_list,
                        }
                        ,
                        success: function (response) {
                            var op = response.operaiton;
                            var status = response.status;
                            console.log(op);
                            console.log(status);
                            if (status === 1) {
                                if (op === 'batch_delete') {
                                    alert('批量删除成功！');
                                }
                                else if (op === 'batch_update') {
                                    alert('批量更新成功！');
                                }
                                else if (op === 'batch_public_private') {
                                    alert('公户转私户成功！');
                                }
                                else if (op === 'batch_private_public') {
                                    alert('私户转公户成功！');
                                }
                                ;

                                location.reload();
                            } else {
                                if (op !== '') {
                                    alert('批量操作失败！')
                                }
                            }


                        }
                        ,
                    })
                    ;
                }
                ;
            }


        });

    </script>



    <script>
        $('.c2').children().prop('disabled', 'disabled');
        $("#search").change(function () {
            var clas = "." + $("#search").val();
            $('.c2').prop('hidden', 'hidden');
            $('.c2').children().prop('disabled', 'disabled');
            $(clas).prop('hidden', false);
            $(clas).children().prop('disabled', false);
        });
    </script>
{% endblock %}


