{% extends 'base.html' %}
{% load static %}
<!--右边内容标题-->
{% block title %}
    <h1>后台管理：角色信息
        <small>User information</small>
    </h1>
    <div class="row" style="margin-top: 15px;">
        <!--新增用户-->
        <a href="{% url 'role_add' %}" class="btn btn-primary btn-sm  col-xs-1 fa fa-user-circle "
           style="margin-left: 30px;width: 90px;height:28px">新增角色</a>
    </div>

{% endblock %}


<!--右边内容部分-->
{% block content %}
    <table class="table table-hover table-bordered table-responsive tab-content text-center">
        <thead>
        <tr>
            <th>序号</th>
            <th>角色</th>
            <th>用户</th>
             <th>权限</th>

            <th>操作</th>

        </tr>
        </thead>
        <tbody>
        {% for role_obj in role_objs %}
            <tr>

                <td>{{ forloop.counter }}</td>
                <td>{{ role_obj.name }}</td>
                <td>
                    <a href="{% url 'user_list_role'  %}?id={{ role_obj.pk }}">详情</a>
                </td>
                <td>
                    <a href="{% url 'user_list_role'  %}?id={{ role_obj.pk }}">详情</a>
                </td>


                <td>
                    <a href="{% url 'role_edit' role_obj.pk %}" class="btn btn-warning btn-xs"
                       title="编辑"><i
                            class="fa fa-edit "></i></a>
                    <a href="{% url 'role_delete' role_obj.pk %}" class="btn btn-danger btn-xs"
                       title="删除"><i
                            class="fa fa-trash-o fa-lg "></i></a>
                </td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
    {{ page|safe }}


{% endblock %}

<!--js代码-->
{% block js %}


{% endblock %}


