{% extends 'base.html' %}
{% load static %}


<!--右边内容标题-->
{% block title %}
    <h1>
        {{ title }}
        <small>学生学习详情：</small>
    </h1>


{% endblock %}


<!--右边内容部分-->
{% block content %}
    <form action="" method="post" novalidate>
        {% csrf_token %}


        <table class="table table-hover table-bordered table-responsive tab-content text-center">
            <thead>
            <tr>
                <th>序号</th>
                <th>学生姓名</th>
                <th>上课记录</th>
                <th>本节成绩</th>
                <th>作业评语</th>

                {#                <th>作业提交日期</th>#}


            </tr>
            </thead>
            <!--原生版-->
            <!--
             <tbody>
{#                        {% for study_obj in study_objs %}#}
{#                            <tr>#}
{##}
{#                                <td>{{ forloop.counter }}</td>#}
{#                                <td>{{ study_obj.student }}</td>#}
{##}
{##}
{#                                <td>#}
{#                                    <select name="record_{{ study_obj.pk }}" id="">#}
{#                                        {% for record_choice in record_choices %}#}
{#                                            {% if study_obj.record == record_choice.0 %}#}
{#                                                <option value="{{ record_choice.0 }}" selected>{{ record_choice.1 }}</option>#}
{#                                            {% else %}#}
{#                                                <option value="{{ record_choice.0 }}">{{ record_choice.1 }}</option>#}
{#                                            {% endif %}#}
{##}
{#                                        {% endfor %}#}
{#                                    </select>#}
{##}
{##}
{#                                </td>#}
{##}
{#                                <td>#}
{#                                    <select name="score_{{ study_obj.pk }}" id="">#}
{#                                        {% for score_choice in score_choices %}#}
{#                                            {% if study_obj.score == score_choice.0 %}#}
{#                                                <option value="{{ score_choice.0 }}" selected>{{ score_choice.1 }}</option>#}
{#                                            {% else %}#}
{#                                                <option value="{{ score_choice.0 }}">{{ score_choice.1 }}</option>#}
{#                                            {% endif %}#}
{##}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </td>#}
{##}
{#                                <td><textarea name="homework_note_{{ study_obj.pk }}" id="" cols="30"#}
{#                                              rows="1">{{ study_obj.homework_note|default:'暂无' }}</textarea></td>#}
{##}
{#                                <td>{{ study_obj.date|date:'Y-m-d'|default:'--' }}</td>#}
{##}
{##}
{#                            </tr>#}
{#                        {% endfor %}#}

                        </tbody>
        -->

            <!--modelformset版-->
            {{ formset_objs.management_form }}<!--使用modelformset必须加上，记住分页切片拿不到此条信息，后端必须也要返回生成的所有formset-->
            <tbody>

            {% for formset_obj in formset_objs %}
                {{ formset_obj.id }}<!--必须为每条记录加上id-->

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ formset_obj.instance.student }}</td><!--默认值固定加上instance-->

                    <td>{{ formset_obj.instance.get_record_display }} </td>

                    <td>{{ formset_obj.score }}</td>

                    <td>{{ formset_obj.homework_note }}</td>

                    {#                    <td>{{ formset_obj.date|date:'Y-m-d' }}</td>#}


                </tr>
            {% endfor %}

            </tbody>
        </table>

        <input type="submit" class="btn btn-success pull-left btn-sm" value="保存"
               style="position:relative;margin-top: 20px;">
    </form>
    {{ page|safe }}


{% endblock %}

<!--js代码-->
{% block js %}
    <script>
        $(':submit').click(function () {
            var ret = confirm('确定更改保存所有记录吗？');
            if (!ret) {
                return false
            }
        })
    </script>


{% endblock %}


