{% extends 'base.html' %}
{% load static %}


<!--右边内容标题-->
{% block title %}
    <h1>
        教学信息
        <small>Teach infomation</small>

    </h1>


    <div class="row" style="margin-top: 15px;">
        {% load permission %}
        {% if 'addteach'|permission_noarg:request %}
            <!--添加教学信息-->
            <a href="{% url 'addteach' %}" class="btn btn-primary btn-sm  col-xs-1 "
               style="margin-left: 30px;width: 90px;height:28px">添加教学记录</a>
        {% endif %}


        <!--批量操作:post请求当前路径-->
        {% if 'editteach'|permission_arg:request %}<!--判断当前用户是否有权限，自定义过滤器-->
            <div class="col-xs-6">
                <!--批量操作选项-->
                <select name="batch_operation" id="operation" style="height: 26px;">
                    <option value="">--操作--</option>
                    <option value="batch_delete">批量删除</option>
                    <option value="batch_create_studentstudyrecord">批量添加学生学习记录</option>
                </select>

                {% csrf_token %}
                <button class="btn btn-danger" style="height: 26px;line-height: 12px;vertical-align: 0.5px"
                        id="batch_operation">Go
                </button>

            </div>
        {% endif %}


        <!--查询字段-->
        <form action="" class=" col-xs-2 pull-right " method="get" style="padding-right: 0">
            <select name="field" id="search" style="height: 25px;">
                <option value="">--字段--</option>
                {% for field in allfields %}
                    {% if field.name in search_fields_list %}
                        <option value="{{ field.name }}">{{ field.label }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="查询">


            {% for field in allfields %}
                {% if field.name in search_fields_list %}
                    <div class="c2 {{ field.name }}" id="{{ field.name }}" hidden
                         style="width: 126px;">{{ field }}</div>
                {% endif %}
            {% endfor %}


        </form>


    </div>

{% endblock %}


<!--右边内容部分-->
{% block content %}



    <table class="table table-hover table-bordered table-responsive tab-content text-center">
        <thead>
        <tr>
            <th>
                <button class="btn btn-xs btn-primary" id="all" title="全选"><i class="fa fa-check-square-o"></i></button>
                <button class="btn btn-xs btn-success" id="opp" title="反选"><i class="fa fa-check-square"></i></button>


            <th>序号</th>
            <th>班级</th>
            <th>节次</th>
            <th>讲师</th>
            <th>上课日期</th>
            <th>课程标题</th>
            <th>作业描述</th>
            <th>学习情况</th>
            {% if 'editteach'|permission_arg:request  or 'deleteteach'|permission_arg:request %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for teach_obj in teach_objs %}
            <tr>
                <td><input type="checkbox" name="select" value="{{ teach_obj.pk }}"></td>
                <td>{{ forloop.counter }}</td>
                <td>{{ teach_obj.class_obj }}</td>
                <td>{{ teach_obj.day_num }}</td>
                <td style="width:280px">{{ teach_obj.teacher }}</td>
                <td>{{ teach_obj.date|date:'Y-m-d'|default:'--' }}</td>
                <td>{{ teach_obj.course_title|default:'--' }}</td>
                <td>{{ teach_obj.homework_memo|default:'--' }}</td>
                <td><a href="{% url 'studydetail' teach_obj.pk %}">详情</a></td>
                {% if 'editteach'|permission_arg:request  or 'deleteteach'|permission_arg:request %}
                    <td>
                        {% if 'editteach'|permission_arg:request %}
                            <a href="{% url 'editteach' teach_obj.pk %}" class="btn btn-warning btn-xs"
                               title="编辑"><i
                                    class="fa fa-edit "></i></a>
                        {% endif %}
                        {% if 'deleteteach'|permission_arg:request %}
                            <a href="{% url 'deleteteach' teach_obj.pk %}" class="btn btn-danger btn-xs"
                               title="删除"><i
                                    class="fa fa-trash-o fa-lg "></i></a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {{ page|safe }}


{% endblock %}

<!--js代码-->
{% block js %}
    <script src="{% static 'jquery-cookie-1.4.1.js' %}"></script>
    <!--全选/反选-->
    <script>
        //全选操作
        $('#all').click(function () {
            $('input[name=select]').not('[disabled=disabled]').prop('checked', true);
        });
        //反选操作
        $('#opp').click(function () {
            var unchecked = $('input[name=select]:not(:checked)').not('[disabled=disabled]');
            $('input[name=select]:checked').not('[disabled=disabled]').prop('checked', false);
            unchecked.prop('checked', true)
        });
    </script>
    <!--批量操作-->
    <script>

        //选择批量操作的条件
        $('#operation').change(function () {
            {#alert($('#operation').val());#}

            if ($('#operation').val() === 'batch_update') {
                $("#fields").attr('hidden', false);
            } else {
                $("#fields").attr('hidden', 'hidden');
                $('.c1').attr('hidden', 'hidden');
            }
        });

        $('#fields').change(function () {
            var id = "#" + $('#fields').val();
            $('.c1').attr('hidden', 'hidden');
            $(id).attr('hidden', false);
        });


        //批量处理提交
        $("#batch_operation").click(function () {
            var operation = $("#operation").val();//获取批量操作类型
            //alert(operation);
            var selecteds = $('input[name=select]:checked');//获取已选中的数据
            //console.log(selecteds);
            //循环获取选中数据的value值添加到数组
            var checked_id_list = [];
            selecteds.each(function (index, obj) {//注意值和索引的顺序
                //console.log(obj);
                //console.log(val);
                {#checked_id_list.push(obj.value);#}
                checked_id_list.push($(obj).val());//注意each循环出来都是dom对象
            });
            console.log(checked_id_list);

            //console.log($("#" + $('#fields').val()).children('input').val());//批量修改才用
            //  批量操作提交确认
            if (operation && checked_id_list.length) {

                if (confirm('确定执行吗？')) {
                    $.ajax({
                        url: '{% url "teach" %}',
                        type: 'post',
                        headers: {'X-CSRFToken': $.cookie('csrftoken')},
                        data: {
                            operation: operation,
                            id_list: JSON.stringify(checked_id_list),
                            //filed: $('#fields').val(),批量修改的字段
                            //val: $("#" + $('#fields').val()).children('input').val(),批量修改的值
                            //id_list:checked_id_list,
                        },
                        success: function (response) {
                            var op = response.operaiton;
                            var status = response.status;
                            console.log(op);
                            console.log(status);
                            if (status === 1) {
                                if (op === 'batch_delete') {
                                    alert('批量删除成功！');
                                }
                                else if (op === 'batch_update') {
                                    alert('批量更新成功！');
                                }
                                else if (op === 'batch_public_private') {
                                    alert('公户转私户成功！');
                                }
                                else if (op === 'batch_private_public') {
                                    alert('私户转公户成功！');
                                }
                                ;

                                location.reload();
                            } else {
                                if (op !== '') {
                                    alert('批量操作失败！')
                                }
                            }


                        },
                    });
                }
                ;
            }

        });

    </script>
    <!--搜索条件-->
    <script>
        //搜索框选择条件值
        $('.c2').children().prop('disabled', 'disabled');
        $("#search").change(function () {
            var clas = "." + $("#search").val();
            $('.c2').prop('hidden', 'hidden');
            $('.c2').children().prop('disabled', 'disabled');
            $(clas).prop('hidden', false);
            $(clas).children().prop('disabled', false);
        });
    </script>

{% endblock %}


